<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/roadsection">Keliai</a>
                </li>
                <li>
                    <a href="/cipher">Šifrai</a>
                </li>
                <li>
                    <a href="/job">Darbai</a>
                </li>
            </ul>
        Teisės:  {{ is_admin()?'Admin':'Worker' }}<br />
        <a href="/toggle">Toggle</a>
        </nav>
        <main>
            {% block body %}{{body}}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
