<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/roadsection">Keliai</a>
                </li>
                <li>
                    <a href="/cipher">Šifrai</a>
                </li>
                <li>
                    <a href="/job">Darbai</a>
                </li>
            </ul>
        </nav>
        {% block body %}{{body}}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
