<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kelių danga!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <aside class="sidenav">
            <nav>
                {% if not is_admin() %}
                    <div class="sidenav__toggle">
                        Teisės: Darbuotojas<br />
                        <a href="/toggle">Pakeisti vartotojo tipą</a>
                    </div>                   
                {% else %}
                    <div class="sidenav__toggle">
                        Teisės:  Admin<br />
                        <a href="/toggle">Pakeisti vartotojo tipą</a>
                    </div>
                    <hr />
                    <ul class="sidenav__list">
                        <li class="sidenav__list__item">
                            <a href="/road">Keliai</a>
                            <ul class="sidenav__list__list">
                                <li class="sidenav__list__item">
                                    <a href="/section">Ruožai</a>
                                </li>
                                <li class="sidenav__list__item">
                                    <a href="/road_type">Dangos</a>
                                </li>
                            </ul>
                        </li class="sidenav__list__item">
                        <li class="sidenav__list__item">
                            <a href="/cipher">Šifrai</a>
                        </li class="sidenav__list__item">
                        <li class="sidenav__list__item">
                            <a href="/metric">Matai</a>
                        </li class="sidenav__list__item">
                        <li class="sidenav__list__item">
                            <a href="/">Darbai</a>
                        </li>
                    </ul>
                {% endif %}
            </nav>
        </aside>
        <main class="main">
            <div class="main_content">
                {% block body %}{{body}}{% endblock %}
            </div
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
