{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sukurtin naują ruožą</h1>

    {{ include('section/_form.html.twig') }}

    <a href="{{ path('section_index') }}">Grįžti į sąrašą</a>
{% endblock %}
