{% extends 'base.html.twig' %}

{% block body %}
    <h1>Redaguoti matą</h1>

    {{ include('metric/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a href="{{ path('metric_index') }}">Grįžti į sąrašą</a>
{% endblock %}
