{% extends 'base.html.twig' %}

{% block title %}Metric index{% endblock %}

{% block body %}
    <h1>Metric index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metric in metrics %}
            <tr>
                <td>{{ metric.id }}</td>
                <td>{{ metric.name }}</td>
                <td>
                    <a href="{{ path('metric_edit', {'id': metric.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('metric_new') }}">Create new</a>
{% endblock %}
