{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matai</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Matas</th>
                <th>Keisti</th>       
                <th>Trinti</th>     
            </tr>
        </thead>
        <tbody>
        {% for metric in metrics %}
            <tr>
                <td>{{ metric.name }}</td>
                <td>
                    <a href="{{ path('metric_edit', {'id': metric.id}) }}">Redaguoti</a>  
                </td>                      
                <td>{{ include('metric/_delete_form.html.twig') }}</td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nėra jokių įrašų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('metric_new') }}">Sukurti naują</a>
{% endblock %}
