{% extends 'base.html.twig' %}


{% block body %}
    <h1>Sukurti naują matą</h1>

    {{ include('metric/_form.html.twig') }}

    <a href="{{ path('metric_index') }}">Grįžti į sąrašą</a>
{% endblock %}
