<form method="post" action="{{ path('cipher_delete', {'id': cipher.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cipher.id) }}">
    <button class="btn">Trinti</button>
</form>
