{% extends 'base.html.twig' %}


{% block body %}
    <h1>Redaguoti</h1>

    {{ include('cipher/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a href="{{ path('cipher_index') }}">Grįžti į sąrašą</a>
{% endblock %}
