{% extends 'base.html.twig' %}


{% block body %}
    <h1>Sukurti naują šifrą</h1>

    {{ include('cipher/_form.html.twig') }}

    <a href="{{ path('cipher_index') }}">Grįžti į sąrašą</a>
{% endblock %}
