{% extends 'base.html.twig' %}

{% block title %}Naujas darbas{% endblock %}

{% block body %}
    <h1>Užpildyti darbą</h1>

    {{ include('job/_form.html.twig') }}

    <a href="{{ path('job_index') }}">Grįžti į darbų sąrašą</a>
{% endblock %}
