{% extends 'base.html.twig' %}


{% block body %}
    <h1>Redagavimas</h1>

    {{ include('road_type/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a href="{{ path('road_type_index') }}">Grįžti į sąrašą</a>
{% endblock %}
