<form method="post" action="{{ path('road_delete', {'id': road.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ road.id) }}">
    <button class="btn">Trinti</button>
</form>
