{% extends 'base.html.twig' %}

{% block body %}
    <h1>Redaguoti kelią</h1>

    {{ include('road/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a href="{{ path('road_index') }}">Grįžti į sąrašą</a>
{% endblock %}
