{% extends 'base.html.twig' %}

{% block title %}New Road{% endblock %}

{% block body %}
    <h1>Create new Road</h1>

    {{ include('road/_form.html.twig') }}

    <a href="{{ path('road_index') }}">back to list</a>
{% endblock %}
